* {
    box-sizing: border-box;
}

html {
    font-family: Georgia, sans-serif;
}

body {
    margin: 0;
}

header {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin: auto;
    margin-top: 40px;
    border-radius: 20px;
    padding: 10px;
    background-color: #460519;
    color: white;
    text-align: center;
    width: 40%;
}

#assignment3 {
    box-shadow: 0 2px 8px #460519;
    margin: auto;
    margin-top: 25px;
    border-radius: 20px;
    padding: 40px;
    text-align: center;
    width: 40%;
}

#assignment3 h2 {
    font-size: 2rem;
    border-bottom: 4px solid #ccc;
    color: #460519;
    margin: 0 0 1rem 0;
}

#assignment3 p {
    font-size: 1.25rem;
    font-weight: bold;
    background-color: #460519;
    padding: 0.5rem;
    color: #1f1f1f;
    border-radius: 25px;
    color: white;
}

#assignment3 input {
    font: inherit;
    border: 1px solid #ccc;
}

#assignment3 input:focus {
    outline: none;
    border-color: white;
    background-color: #d7fdeb;
}

#assignment3 button {
    font: inherit;
    cursor: pointer;
    border: 1px solid #460519;
    background-color: #460519;
    color: white;
    padding: 0.05rem 1rem;
    margin-left: 10px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
}

#assignment3 button:hover,
#assignment3 button:active {
    background-color: #ee1124;
    border-color: #ee1124;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}